@{ViewBag.Title = "Index"; }

<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <style>
        h1 {
            font-family: 'Oswald', sans-serif;
        }

        a {
            font-family: 'Oswald', sans-serif;
            color: black;
        }
    </style>
</head>
<body>
    <br />
    <h1>Välkommen till Åsele kommun</h1>
    <br />
    <hr />
    <a><h3>@Html.ActionLink("E–tjänst ansökan om en plats på förskola för ditt barn", "LoginA", "User")</h3></a>
</body>
</html>

