
@{
    ViewBag.Title = "Anvandare";
}

<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">

    <style>
        h1 {
            font-family: 'Roboto Condensed', sans-serif;
        }

        a {
            font-family: 'Oswald', sans-serif;
            color: black;
        }
        .button {
            background-color: #339CFF;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: large;
            float: left;
            text-decoration: none
        }
    </style>
</head>
<body>
    <h1>Användare</h1>
    <br />

    <hr />

    <a><h3>@Html.ActionLink("Ansök plats på förskola", "AddBarn", "LaggTill")</h3></a>
    <hr />
    <a><h3>@Html.ActionLink("Kolla status", "Index", "Status")</h3></a>
    <hr />
    @Html.ActionLink("Logga ut", "LoginA", "User", routeValues: null, htmlAttributes: new { @class = "button" })

    <br />
    <br />
    <br />
</body>
</html>